html, body{
    margin: 0;
    padding: 0;
    font-family: Helvetica, serif;
    font-size: 14px;
    overflow-x: hidden;
    background-color: white;
}

a {
    color: #eca63f;
    text-decoration: none;
}

.top {
    display: flex;
    justify-content: space-between;
    padding: 25px 0 25px 0;
    background: white;
    color: #eca63f;
    height: 50px;
    font-size: 20px;
    border-bottom: 3px solid white;
    align-items: center;
}

.section_left{
    display: flex;
    align-items: center;
}

.Logo{
    display: flex;
    margin-left: 60px;
    /*border: red solid 1px;*/
}

.Slogan{
    display: flex;
    padding: 25px;
    text-align: center;
    line-height: 1.3;
    /*border: red solid 1px;*/
}

@media (max-width: 650px) {
    .Slogan {
        font-size: 14pt;
    }
}

.container {
    width: 50%;
    padding-right: 50px;
    /*border: red solid 2px;*/
}

.toggle-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    width: 30px;
    height: 30px;
    position: absolute;
    margin-right: 50px;
    background-color: #eca63f;
}

nav {
    width: auto;
    float: right;
}

nav ul {
    display: table;
    float: right;
    margin: 0;
    padding: 0;
}

nav ul li{
    float: left;
    list-style-type: none;
}

nav ul li:last-child {
    padding-right: 0;
}

nav ul li a {
    color: #eca63f;
    font-size: 19px;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
}

nav ul li a:hover {
    color: brown;
    text-decoration: underline;
}

input[type=checkbox],label{display:none}

@media only screen and (max-width: 625px) {
    .container {
        max-width: 50px;
        margin-right: 50px;
        margin-bottom: 25px;
    }
    input[type=checkbox]{position:absolute;top:-9999px;left:-9999px;background:none}
    input[type=checkbox]:focus{background:none}
    label{float:right;display:inline-block;cursor:pointer;margin-right:65px}
    /*label{float:right;display:inline-block;cursor:pointer;margin-right:0px}*/
    input[type=checkbox]:checked ~ nav{display:block}
    nav{display:none;position:absolute;right:0;top:60px;background-color:#eca63f; padding:0;z-index:99}
    nav ul{width:auto}
    nav ul li{float:none;padding:0;width:100%;display:table}
    nav ul li a{color:#FFF;font-size:15px;padding:10px 20px;display:block;border-bottom:1px solid rgba(225,225,225,0.1)}
}

.firsSection{
    border-top: black solid 1px;
    margin: 0;
    justify-content: space-between;
    color: black;
    display: block;
}

.paragraph{
    text-align: center;
    line-height: 1.3;
    font-size: 50pt;
    padding-top: 100px;
    width: 100%;
    font-weight: bold;
    padding-bottom: 50px;
}

.content, .contentButton{
    line-height: 1.3;
    width: 100%;
}

.content {
    text-align: left;
    padding: 50px 6% 25px;
}

.contentButton {
    text-align: center;
    padding-bottom: 50px;
}

.par{
    font-size: 25pt;
    font-style: italic;
    margin-bottom: 15px;
}


.inf{
    font-size: 15pt;
    margin-bottom: 20px;
    text-align: left;
    padding-right: 6%;
}

.geo {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    padding-bottom: 100px;
}

.wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3 {
    text-align: center;
    margin-left: 50px;
}

.gradient-button1{
    width: 50%;
    align-items: center;
    text-decoration: none;
    display: inline-block;
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
    color: black;
    font-size: 18pt;
    font-weight: bold;
}

.gradient-button1:hover{
    background-position: right center;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-size: 200% auto;
    transition: .5s;
    color: black;
    font-size: 12pt;
    font-weight: bold;
}

.gradient-button1{
    background-image: linear-gradient(to right, #B8B8F3 0%, #FFD3BA 51%, white 100%);
}

.footer{
    background: #FFD3BA;
    color: white;
    padding-top: 25px;
    width: 100%;
    height: 100%;
}

.row{
    flex-direction: row;
    /*margin-bottom: 50px;*/
}

.col-sm-3, .col-sm-4{
    margin-top: 50px;
    padding: 0;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 50px;
}

.icon{
    align-content: center;
    padding: 10px;
}


@media (max-width: 575px) {
    label {
        margin-right: 40px;
    }
    .row{
        flex-direction: column;

    }
    .col-sm-3, .col-sm-4{
        /*text-align: center;*/
        padding: 10px;
        /*text-align: justify;*/
    }
}

@media (max-width: 400px) {
    .Slogan {
        font-size: 10px;
    }
}

@media (max-width: 870px) {
    .Slogan {
        font-size: 12px;
    }
    .container {
        max-width: 50px;
        margin-right: 50px;
    }
}
